<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Welcome to ergoNTN</h2>
  <p>National Testing Network directly contracts with public safety departments across the country to test candidates for jobs.</p>
  <p>Take a look at the first mobile app by IT dept!</p>
  <br>

  <!-- Form and get value from API -->
  <ion-list>
    <ion-item>
      <ion-label>Pick a State ...</ion-label>
      <ion-select [(ngModel)]="stateId" #ctl="ngModel">
        <span *ngFor="let state of states">
          <ion-option value="{{state.id}}">{{state.name}}</ion-option>
        </span>
      </ion-select>
    </ion-item>
  </ion-list>

  <span *ngFor="let method of methods">
    <button ion-button (click)="restAgencyNtn(method.name,stateId)">{{method.buttonName}}</button>
  </span>

  <!-- Display the result -->
  <div id='showList'>
    <ion-content>
      <ion-list inset>
        <ion-item *ngFor="let item of list">
          <p>{{item[0]}} <span *ngIf=" method == 'GetProfessionsByStateId'">BUTTON</span></p>
        </ion-item>
      </ion-list>
    </ion-content>
  </div>

</ion-content>
